@import "compass/css3";
@import "compass/reset";
@import "susy";

*
{
    @include box-sizing(border-box);
}

html 
{
    height: 100%;
}
body 
{
    font-size: 20px;
    height: 100%;
}

.hidden
{
    display: none;
}

.container  
{
    font-family: "微軟正黑體";
    $header-bg: #B73E17;
    background: lighten($header-bg, 20%);
    height: 100%;
    

    header
    {
        @include full;
        background: $header-bg;
        
        .item
        {
            line-height: 2em;
            color: white;
            float: left;
            width: 120px;
            text-align: center;
            text-decoration: none;

            &:hover,
            {
                background: lighten($header-bg, 15%);
            }
            &.selected
            {
                background: lighten($header-bg, 20%);
            }
        }
    }

    .content 
    {
        @include break;
        color: white;
        padding: 0.5em 1em 0 1em;

        .box
        {
            $box-bg: #FACACA;

            width: 50px;
            height: 50px;
            background: $box-bg;
            float: left;
            margin: 10px;

            &.selected 
            {
                background: darken($box-bg, 20%);
            }
        }
    }

}